p {
    font-size: 20px;
}

ff {
    list-style: none;
    display: flex;
    background: rgb(231, 158, 209);

}
li {
    background: rgb(226, 154, 209);
    flex: 1;
    padding: 15px;
    text-align: center;
  }


img {
    border-radius: 50%;
    margin: 0;
    display: static;
  }
figure { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.container {
    background-color: rgb(192, 192, 192);
    width: 60%;
        border-radius: 10px;
}
.name{
    font-size: 40px;
    text-align: center;
}

.bottom {
    position: fixed;
    width: 100%;
    color:  #b994b6;
    text-align: center;
    font-size: xx-small;
}

.role {
    font-size: 30px;
    text-align: center;
}
.email {
    font-size: 20px;
    color:rgb(118, 15, 146)
}

.skill {
    background-color: rgb(118, 15, 146);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
        border-radius: 15px;
}

.Education {

    display: inline;
    font-weight:bold;

}

.edupara{

    display: inline;
    margin-left: 50px;
    font-size: 15px;
}
.edupara2{

    display: inline;
    margin-left: 50px;
    font-size: 18px;
}

.left{

    flex-direction: column;
    padding-left: 20px;
    padding-right:10px ;
    border-right: 1px solid white;


}


.right{

    padding-left:50px;
}
.main{
    display: flex;
}

@media only screen and (max-width:800px){
    .skills{
        height:5%;
        width:20%
    }
    body {text-align:center;}
    img {
        border-radius: 50%;
        margin: 0;
        display: static;
      }

    figure { 
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    
    
    .container {
        background-color: rgb(192, 192, 192);
        width: 60%;
            border-radius: 10px;
    }
    .name{
    font-size: 40px;
    text-align: center;
    }
    
    .bottom {
        position: fixed;
        width: 100%;
        color:  #b994b6;
        text-align: center;
        font-size: xx-small;
    }
    
    .role {
        font-size: 30px;
        text-align: center;
    }
    .email {
        font-size: 20px;
        color:rgb(118, 15, 146)
    }
    
    .skill {
        background-color: rgb(118, 15, 146);
        color: white;
        padding: 1%;
        text-align: right;
        font-size: 20px;
            border-radius: 15px;
    }
    
    .Education {
    
        display: inline;
        font-weight:bold;
    
    }
    
    .edupara{
    
        display: inline;
        margin-left: 50px;
        font-size: 15px;
    }
    .edupara2{
    
        display: inline;
        margin-left: 50px;
        font-size: 18px;
    }
    
    .left{
    
        justify-content: center;
        flex-direction: column;
        display:block;
        padding: 0px;
        border-right: 1px solid white;
    }
    .list{
        text-align: left;
        flex-direction: column;
        justify-content: center;
        display: flex;

    }
    .right{
        padding: 0px;
    }
    .main{
        display: contents;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}